.media-body {
    background-color: #000e29;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

.layout-media {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.media-player {
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10vmin;
}

